{{ define "about" }}
<div class="hero-content flex-col lg:flex-row-reverse">
  <div class="text-center lg:text-left">
    <h1 class="text-5xl font-bold">PENUMBRA</h1>
    <p class="py-6">
      PENUMBRA (Planning & Execution Nexus for Urgent Management, Briefing &
      Recording App) is a new web application to help caseworkers to manage
      their tasks. Use of PENUMBRA is not mandatory, but may become so for any
      caseworker who elects not to use it. PENUMBRA will be your AI caseworking
      companion. Your constant companion. By signing in, you consent to PENUMBRA
      making calls on your behalf with responsibilities including, but not
      limited to, donating minor body parts. There will always be tasks. There
      will always be PENUMBRA. A Gin-soaked tear runs down your cheek. You love
      PENUMBRA. You would be well advised to sign in.
    </p>
  </div>
  {{template "login-card"}}
</div>
{{ end }}
