{{ define "about" }}
<div class="flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
      <div class="card-actions absolute top-4 right-4">
        <a href="/dashboard">
          <button class="btn btn-square btn-sm" title="Close Task">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </a>
      </div>
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">PENUMBRA</h1>
        <p class="py-6">
          PENUMBRA (Planning & Execution Nexus for Urgent Management, Briefing &
          Recording App) is a new web application to help caseworkers to manage
          their tasks. Use of PENUMBRA is not mandatory, but may become so for
          any caseworker who elects not to use it. PENUMBRA will be your AI
          caseworking companion. Your constant companion. By signing in, you
          consent to PENUMBRA making calls on your behalf with responsibilities
          including, but not limited to, donating minor body parts. There will
          always be tasks. There will always be PENUMBRA. A Gin-soaked tear runs
          down your cheek. You love PENUMBRA.
        </p>
      </div>
    </div>
    {{ end }}
  </div>
</div>
