{{define "home"}}
<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left">
      <h1 class="text-5xl font-bold">PENUMBRA</h1>
      {{template "welcome-text" .}}
    </div>
    {{template "login-card"}}
  </div>
</div>
{{end}}
