{{define "meditation"}}
<p class="py-6">
  Please take a moment to consider your place in life. Hear the geese whoop in
  the sharp distance and the little birds as the year turns once again. Gaze a
  moment at the soft, soggy light, the transient brightening at the start of
  even a dull day. Sense the frabric of clothes on your skin, on their journey
  from new to tatters. Your body on its way from nothing to nothing. This
  inbetween. The half aches of this day yet to express themselves. Regrets,
  vaunts--cup them in your hand and place them in a nook among the roots of the
  river bank, broken bits for the rain to find. Sigh. Then, when you're quite
  ready, sign in.
</p>
{{end}}
