{{define "sign-in-card"}}
<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
  <div class="card-body">
    <fieldset class="fieldset">
      <label class="label">Email</label>
      <input type="email" class="input" placeholder="Email" />
      <label class="label">Password</label>
      <input type="password" class="input" placeholder="Password" />
      <div class="text-center mt-2 text-sm">
        <a class="link link-hover">Forgot password?</a>
        <span class="mx-2 text-base-content/50">|</span>
        <a class="link link-hover" href="/register">Sign up</a>
      </div>
      <div class="mt-4 text-left">
        <button class="btn btn-neutral w-auto">Sign in</button>
      </div>
    </fieldset>
  </div>
</div>
{{end}}
