{{define "table"}}
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
        <th></th>
      </tr>
    </thead>
    <!-- body -->
    <tbody>
      {{range .}}
      <tr class="hover:bg-base-300">
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div class="flex items-center gap-3">
            <div>
              <div class="font-bold">{{.Title}}</div>
            </div>
          </div>
        </td>
        <td>{{.Status}}</td>
        <td>{{.DuePretty}}</td>
      </tr>
      {{end}}
    </tbody>
    <!-- foot -->
    <tfoot></tfoot>
  </table>
</div>
{{end}}
