{{define "table"}}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const thead = document.querySelector("thead");
    const rows = document.querySelectorAll("tbody tr");

    thead.addEventListener("mouseenter", () => {
      rows.forEach((row) => row.classList.add("bg-base-300"));
    });

    thead.addEventListener("mouseleave", () => {
      rows.forEach((row) => row.classList.remove("bg-base-300"));
    });
  });
</script>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr onclick="window.location='/tasks';" style="cursor: pointer">
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
        <th></th>
      </tr>
    </thead>
    <!-- body -->
    <tbody>
      {{range .}}
      <tr class="hover:bg-base-300">
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <a href="/task/{{.Id}}">
            <div class="flex items-center gap-3">
              <div>
                <div class="font-bold">{{.Title}}</div>
              </div>
            </div>
          </a>
        </td>
        <td>{{.Status}}</td>
        <td>{{.DuePretty}}</td>
      </tr>
      {{end}}
    </tbody>
    <!-- foot -->
    <tfoot></tfoot>
  </table>
</div>
{{end}}
