{{define "table"}}
<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Done?</th>
        <th>Title</th>
        <th>Status</th>
        <th>Due</th>
        <th></th>
        <th class="hover:bg-base-300">
          <a
            href="/tasks"
            class="btn btn-ghost rounded-field"
            style="cursor: pointer"
          >
            View All
          </a>
        </th>
      </tr>
    </thead>
    <!-- body -->
    <tbody>
      {{range .}}
      <tr class="hover:bg-base-300">
        <th>
          <label>
            <input type="checkbox" class="checkbox row-checkbox"
            data-id="{{.Id}}" {{if eq .Status "done"}}checked{{end}} />
          </label>
        </th>
        <td>
          <a href="/tasks/{{.Id}}">
            <div class="flex items-center gap-3">
              <div>
                <div class="font-bold">{{.Title}}</div>
              </div>
            </div>
          </a>
        </td>
        <td>{{.Status}}</td>
        <td>{{.DuePretty}}</td>
      </tr>
      {{end}}
    </tbody>
    <!-- foot -->
    <tfoot></tfoot>
  </table>
</div>

<script>
  document.querySelectorAll(".row-checkbox").forEach(function (checkbox) {
    checkbox.addEventListener("change", function () {
      if (!this.checked) {
        this.checked = true;
      }

      const id = this.getAttribute("data-id");

      fetch("/task/done/" + id, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ checked: this.checked }),
      })
        .then((response) => {
          if (!response.ok) {
            console.error("Request failed.");
          } else {
            const statusCell =
              this.closest("tr").querySelector("td:nth-child(3)");
            if (statusCell) {
              statusCell.textContent = "done";
            }
          }
        })
        .catch((error) => {
          console.error("Network error:", error);
        });
    });
  });
</script>

{{end}}
