{{define "task"}}
<div class="flex justify-center items-center min-h-screen">
  <div class="card bg-base-100 w-96 shadow-sm">
    <div class="card-body">
      <div class="card-actions justify-end">
        <a href="/dashboard">
          <button class="btn btn-square btn-sm" title="Close Task">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </a>
      </div>
      <form action="/tasks/edit" method="POST">
        <input type="hidden" name="id" value="{{.Id}}" />

        <label class="label">Title</label>
        <input
          type="text"
          class="input"
          name="title"
          value="{{.Title}}"
          required
          autocomplete="off"
        />
        <label class="label">Description</label>
        <input
          type="text"
          class="input"
          name="description"
          value="{{.Description}}"
          required
          autocomplete="off"
        />

        <label class="label">Due Date</label>
        <script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
        <input
          type="text"
          class="input pika-single"
          id="myDatepicker"
          name="due"
          value="{{.DuePretty}}"
          required
        />
        <script>
          var picker = new Pikaday({
            field: document.getElementById("myDatepicker"),
          });
        </script>

        <div>{{.Status}}</div>

        <div class="flex justify-between mt-4">
          <button
            type="submit"
            formaction="/tasks/edit/{{.Id}}"
            class="btn btn-neutral w-auto"
          >
            Update Task
          </button>
          <button
            type="submit"
            formaction="/tasks/delete/{{.Id}}"
            class="btn btn-neutral w-auto"
          >
            Delete Task
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{{end}}
