{{define "tasks"}} {{template "navbar"}}
<ul class="list bg-base-100 rounded-box shadow-md bg-base-200">
  {{range .Data}}
  <li class="list-row hover:bg-base-300">
    <div class="flex flex-col gap-1 text-lg">
      <a href="/task/{{.Id}}" class="font-bold"> {{.Title}} </a>

      <a href="/task/{{.Id}}" class="text-sm">
        {{if eq .Status "done"}}done{{else}}{{.Status}}: {{.DuePretty}}{{end}}
      </div>
      </a>

      <a href="/task/{{.Id}}" class="text-xs">{{.Description}}</a>
    </div>
  </li>
  {{end}}
</ul>
{{end}}
